* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    font-size: 24px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}
.game-place {
    width: 100%;
    min-height: 100vh;
    background-color: #444;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.circle {
    position: absolute;
    border-radius: 50%;
    border: 2px solid black;
    padding: 1%;
    transform: translate(-50%,-50%);
    cursor: pointer;
}
.row {
    display: flex;
    width: 100%;
    min-height: 100vh;
}
.panel__left{
    flex: 1 1 50%;
    background-color: #fff;
    height: 100%;
    text-align: center;
}
.panel__left h1 {
    text-transform: uppercase;
    font-size: 3.3rem;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 7% 5% 3% 5%;
    color: #005555;
}
.panel__left h3 {
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0 10% 5% 10%;
    color: #555555;
    position: relative;
}
.panel__left h3::after {
    position: absolute;
    content: ' ';
    display: block;
    padding: 1px;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 80%;
    background-color: #008888;
}
.chose__panel {
    padding: 5%;
}
.chose__panel h5 {
    font-weight: 300;
    font-size: 1.5rem;
    color: #005555;
    margin-bottom: 10px;
}
.chose__button {
    background-color: #fff;
    border: 2px solid #007777;
    color: #007777;
    width: 250px;
    height: 50px;
    font-size: 0.9rem;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.3s all;
}
.chose__button:hover{
    transform: translateX(10px);
    box-shadow: -3px 3px 5px #007777;
}
.panel__right{
    flex: 0 1 50%;
    background-color: #007777;
    color: #fff;
    padding: 5% 2% 10% 7%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 15% 100%);
    text-align: center;
}
.panel__right h3 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.right__row {
    display: flex;
    justify-content: center;
}
table {
    border: 1px solid #fff;
    margin: 15px;
}
td, th {
    padding: 10px 20px;
}
th {
    font-size: 1.3rem;
    font-weight: 400;
}
td {
    font-size: 1.2rem;
    font-weight: 300;
}
td .far {
    font-size: 2rem;
}
.table__icon {
    font-size: 2rem;
}
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: right;
    font-size: 0.8rem;
}
.footer p:nth-child(2) {
    padding: 5px 15px 15px 15px;
    color: #222222;
}
.footer p a {
    padding-right: 15px;
    color: #222222;
}