* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
.game-place {
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #007777;
    overflow: hidden;
    position: relative;
    z-index: 0;
    display: none;
    padding: 50px;
}
.time {
    position: absolute;
    z-index: 1;
    font-family: 'Audiowide', cursive;
    font-size: 4rem;
    opacity: 0.5;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
.game-statistics {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #005555;
    color: #f5f5f5;
    height: 100vh;
    width: 50%;
    padding: 5% 5% 5% 10%;
    opacity: 0.7;
    clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
    display: none;
    transition: 0.3s all;
}
.game-statistics:hover {
    opacity: 1;
}
.game__score {
    margin: 40px 20px 5px 20px;
    font-size: 1.3rem;
}
.comment {
    font-size: 1rem;
}
.game__intro {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #f5f5f5;
    text-align: center;
    transition: 0.3s all;
    transform: translate(-50%,-50%);
}
.circle {
    position: absolute;
    border-radius: 50%;
    border: 2px solid black;
    padding: 1%;
    transform: translate(-50%,-50%);
    cursor: pointer;
    box-shadow: 0 0 5px #00dddd;
    z-index: 5;
}
.row {
    display: flex;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.panel__left{
    flex: 1 1 50%;
    background-color: #fff;
    min-height: 100vh;
    text-align: center;
}
.panel__left h1 {
    text-transform: uppercase;
    font-size: 3.3rem;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 7% 5% 3% 5%;
    color: #005555;
}
.panel__left h3 {
    font-size: 0.9rem;
    font-weight: 300;
    padding: 0 10% 5% 10%;
    color: #555555;
    position: relative;
}
.panel__left h3::after {
    position: absolute;
    content: ' ';
    display: block;
    padding: 1px;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 80%;
    background-color: #008888;
}
.chose__panel {
    padding: 5%;
}
.chose__panel h5 {
    font-weight: 300;
    font-size: 1.5rem;
    color: #005555;
    margin-bottom: 10px;
}
.chose__button {
    background-color: #fff;
    border: 2px solid #007777;
    color: #007777;
    width: 250px;
    height: 50px;
    font-size: 0.9rem;
    margin: 15px 0;
    cursor: pointer;
    transition: 0.3s all;
}
.chose__button:hover{
    transform: translateX(10px);
    box-shadow: -3px 3px 5px #007777;
}
.chose__button--statistics {
    border-color: #fff;
    background-color: #005555;
    color: #fff;
    margin-top: 50px;
}
.panel__right{
    flex: 0 1 50%;
    background-color: #007777;
    color: #fff;
    padding: 5% 2% 10% 7%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 15% 100%);
    text-align: center;
    position: relative;
}
.panel__right h3 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.right__row {
    display: flex;
    justify-content: center;
}
table {
    border: 1px solid #fff;
    margin: 15px;
}
td, th {
    padding: 10px 20px;
}
th {
    font-size: 1.3rem;
    font-weight: 400;
}
td {
    font-size: 1.2rem;
    font-weight: 300;
}
td .far {
    font-size: 2rem;
}
.table__icon {
    font-size: 2rem;
}
.footer {
    width: 100%;
    right: 0;
    position: absolute;
    bottom: 0%;
    text-align: right;
    font-size: 0.8rem;
    z-index: 20;
}
.footer p:nth-child(2) {
    padding: 5px 15px 15px 15px;
    color: #222222;
}
.footer p a {
    padding-right: 15px;
    color: #222222;
}

@media (max-width: 1100px){
    .chose__button {
        width: 300px;
    }
    th {
        font-size: 1rem;
        padding: 10%;
    }
    td {
        font-size: 0.9rem;
        padding: 10%;
    }
    td .far {
        font-size: 1.4rem;
    }
    .panel__left h1 {
        font-size: 2.5rem;
    }
    .panel__left {
        flex: 0 1 70%;
    }
    .panel__right {
        flex: 0 1 30%;
    }
}
@media (max-width: 900px){
    .row {
        flex-direction: column;
        position: relative;
    }
    .panel__right {
        position: fixed;
        bottom: -420px;
        height: 500px;
        width: 100%;
        clip-path: polygon(0% 5%, 100% 0%, 100% 100%, 0% 100%);
        transition: 0.3s ease-in;
    }
    .panel__right:hover {
        bottom: 0;
    }
    .panel__right h3 {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}